body{
    background-image:url("//www.thesun.co.uk/wp-content/uploads/2021/12/StarrySky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin-bottom: 30px;
    
}
.contact-image{
    width: 270px;
    height: 250px;
    margin-bottom: 10px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
     margin: 0 auto;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    width: 20%;
   word-break: break-all;
  background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    
    
}
.name{
    margin-bottom: 10px;
    color: white;
}
.phone{
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
.email{
    margin-top: 2px;
    color: white;
}
.remove-button{
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}
.input-edit{
    display:flex;
    flex-direction: column;

}
.input-edit input{
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}
.save{
    border-radius: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}
.cancel{
    border-radius: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}
.edit-contact{
    margin-bottom: 5px;

}
