.contact-image{
    width: 150px;
    height: 150px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    margin-bottom: 10px;
    font-weight: bold;
}
.phone{
    margin-top: 10px;
    font-weight: bold;
}
.email{
    margin-top: 2px;
    font-weight: bold;
}
.remove-button{
    background-color: gray;
    border: none;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}
.input-edit{
    display:flex;
    flex-direction: column;

}
.input-edit input{
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}
.save{
    border-radius: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
}
.cancel{
    border-radius: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}
.edit-contact{
    margin-bottom: 5px;
}
