
.container-input{
background-image: url("	https://wallpapers.com/images/hd/golden-house-emblem-harry-potter-laptop-0k37hm5s1lmbpngq.jpg");
background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.contact-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 30px 30px;
}

.name-input{
    margin-bottom: 10px;
}
.phone-number{
    margin-top:10px;
}
.email-input{
    margin-top:10px;
}
.address{
    margin-top:10px;
}

label{
    margin-bottom: 5px;
    font-weight: bold; 
}
.create-contact button{
    margin-top: 20px;
    padding: 5px; 
    
}
input {
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 14px;
  width: 250px;
}
.home-title{
    color: white;
}